{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="{% static 'images/opticals_logo.png' %}" rel="icon">
    <style>
        div {
            text-align: center;
            
        }
        h1{
            font-size: 5rem;
        }
        h2{
            font-size: 4rem;
        }
        h3{
            font-size: 2rem;
        }

        body {
            background-image: url("{% static 'images/pexels-pixabay-265686.jpg' %}");
            color: white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div>
        <h1>Welcome To Shree Balaji Opticals</h1>
        <h3>Under Development We Will Be Back Soon...</h3>
        <h2>Thanks For Visiting Our Site</h2>
    </div>




</body>

</html>
